<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Delete director</title>

    <link rel="stylesheet" href="../../resources/static/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/static/assets/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../resources/static/assets/pages/css/custom.css">
    <script src="../../resources/static/assets/bootstrap/bootstrap.min.js"></script>

</head>

<body>

<div class="container-fluid">

    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">

        <a class="navbar-brand" href="#" th:href="@{/movies}">
            <span class="hidden-folded inline">Movies</span>
        </a>
        <a class="navbar-brand" href="#" th:href="@{/directors}">
            <span class="hidden-folded inline">Directors</span>
        </a>


    </nav>

    <h2>Delete</h2>

    <h4>&nbsp;&nbsp;Do you really want to delete this director?</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            First Name:
        </dt>
        <dd th:text="${director.firstName}">
            Bruce
        </dd>
        <dt>
            Last Name:
        </dt>
        <dd th:text="${director.lastName}">
            Wein
        </dd>

    </dl>

    <hr/>


    <dl class="dl-horizontal">
        <dt >
            <strong>
                <a href="#" th:href="@{/directors}">Back to List</a>
            </strong>
        </dt>
        <dd >
            <form action="#" th:action="@{/director/delete}" th:object="${director}" method="post">
                <input type="hidden" th:field="*{directorId}" />
                <div class="form-group">
                    <input type="submit" value="Delete"/>
                </div>
            </form>
        </dd>
    </dl>





</div>

<script src="../../resources/static/assets/jquery/jquery-3.1.1.min.js"></script>
<script src="../../resources/static/assets/jquery/jquery.validate.js"></script>
<script src="../../resources/static/assets/pages/js/validate.js"></script>

</body>
</html>