<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Movies</title>

    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/bootstrap/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/resources/static/assets/pages/css/custom.css}">

    <script type="text/javascript" th:src="@{/resources/static/assets/bootstrap/bootstrap.min.js}"></script>

</head>

<body>

<div class="container-fluid">

    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">
        <a class="navbar-brand" href="#" th:href="@{/movies}">
            <span class="hidden-folded inline">Movies</span>
        </a>
        <a class="navbar-brand" href="#" th:href="@{/directors}">
            <span class="hidden-folded inline">Directors</span>
        </a>
    </nav>


    <div class="row">
        <div class="col-md-6">
            <h2>Movies</h2>

            <p>
                <a href="#" th:href="@{/movie/add}">Add New</a>
            </p>
        </div>
        <div class="col-md-6">

            <form class="form-horizontal" id="filter-form" action="#" th:action="@{/movie/datefilter}" method="post">
                <div class="form-group">
                    <label for="startDate" class="col-sm-2 control-label">From date:</label>
                    <div class="col-sm-10">
                        <input id="startDate" name="startDate" type="text" placeholder="yyyy-MM-dd" value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="endDate" class="col-sm-2 control-label">to date:</label>
                    <div class="col-sm-10">
                        <input id="endDate" name="endDate" type="text" placeholder="yyyy-MM-dd" value=""/>
                    </div>
                </div>

                <input type="submit" value="Search"/>

            </form>

        </div>
    </div>

    <h4 th:text="((${startDate}==null or ${startDate}=='') and
    (${endDate}==null or ${endDate}=='')) ?'':
    ('Movies created'+${startDate}+${endDate})">Date filter</h4>
    <hr/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Movie title</th>
            <th>Release Date</th>
            <th>Rating</th>
            <th>Director</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="movie : ${moviesList}">
            <td th:text="${movie.movieTitle}">Movie title</td>
            <!--<td th:text="${#dates.format(movie.releaseDate, 'yyyy-MM-dd')}">2013-08-07</td>-->
            <td th:text="${movie.releaseDate}">2013-08-07</td>
            <td th:text="${movie.rating}">7.6</td>
            <td th:text="${movie.directorsFirstName+' '+ movie.directorsLastName}">some info</td>
            <td>

                <a href="#" th:href="@{/movie/edit(movieId=${movie.movieId})}">Edit</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" th:href="@{/movie/delete(movieId=${movie.movieId})}">Delete</a>
            </td>
        </tr>


        </tbody>
    </table>
    <hr/>

</div>

<script type="text/javascript" th:src="@{/resources/static/assets/jquery/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/static/assets/jquery/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/resources/static/assets/pages/js/validate.js}"></script>


<!--<script src="../../resources/static/assets/jquery/jquery-3.1.1.min.js"></script>-->
<!--<script src="../../resources/static/assets/jquery/jquery.validate.js"></script>-->
<!--<script src="../../resources/static/assets/pages/js/validate.js"></script>-->

</body>
</html>